.about {
    .info {
        padding: 0 100px;

        h1,
        p {
            letter-spacing: .5px;
        }

        button {
            transition: all .1s ease-in-out;
            box-shadow: 4px 6px;
            font-weight: 900;
            border-radius: 10px;
            background: var(--danger);
            border: 3px solid black;

            &:hover {
                transform: translate(-0.05em, -0.05em);
                box-shadow: 6px 8px;
            }

            &:active {
                transform: translate(0.05em, 0.05em);
                box-shadow: 2px 3px;
            }
        }

        li {
            color: gray;
        }
    }

}