// Main Section
.hero {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden !important;

    .hero-detail {
        img {
            filter: grayscale(100) brightness(90%);
            box-shadow: 15px 15px rgb(9, 9, 9);
        }
        .hero-info {
            h1 {
                font-size: 54px;
            }
            h2 {
                color: var(--danger);
            }
        }
    }

    .social-icons ul li {
        transition: all .4s ease-in-out;

        &:hover {
            transform: translateY(-10px);
            opacity: 50% !important;
            cursor: pointer;
        }
    }
}